<!DOCTYPE html>
<html>
<head>
  <title>Notes</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <link rel="stylesheet" type="text/css" href="index.css">
  <style>p {color: white}</style>
</head>
<body>
  <p>You're great. Great job.</p>
  <script type="text/javascript">
    sessionStorage.privateKey = JSON.stringify(<%- JSON.stringify(privateKey) %>);
    sessionStorage.publicKey = JSON.stringify(<%- JSON.stringify(publicKey) %>);
  </script>

</body>
</html>