<!DOCTYPE html>
<html>
<head>
  <title>Notes</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <link rel="stylesheet" type="text/css" href="index.css">
</head>
<body>
  <div id="app" class="app-window">
    <object type="image/svg+xml" data="logo.svg" class="login-logo">
      <img src="logo.png" alt="Notes">
    </object>
    <article class="login">
      <p>You must have a Keybase.io account to use this app</p>
        <form class="login-form" action="/" method="post">
          <input type="hidden" name="_csrf" value=<%= csrfToken %>>
          <label class="login-form__label" for="username">Email or username</label>
          <input 
            class="login-form__input"
            name="username"
            id="username"
            type="text" 
            required>
          <label class="login-form__label" for="password">Passphrase</label>
          <input
            class="login-form__input"
            name="password"
            id="password"
            type="password"
            required>
          <button
            class="login-form__input login-form__submit"
            id="submit"
            type="submit">
            Login
          </button>
        </form>
    </article>
  </div>
  <script>
    document.getElementById('submit').addEventListener('click', function(e) {
      console.log('yoyoyoyoy')
    });
  </script>
</body>
</html>